<div [class]="'app-header header-shadow ' + (config$ | async).headerTheme">
  <div class="logo-src"></div>
  <div class="app-header__content" style="padding-left: 0">
    <div class="app-header-left">
      <!--<app-search-box></app-search-box>-->
      <img src="/assets/images/logo.png" style="height: 50px" alt="">
      <app-mega-menu></app-mega-menu>
    </div>
    <div class="app-header-right">
      <!--<app-dots></app-dots>-->
      <app-user-box></app-user-box>
    </div>
  </div>

</div>
