<div class="h-100">
  <div class="row h-100 no-gutters">
    <div class="d-none d-lg-block col-lg-4">
      <div class="slider-light">
        <ngx-slick-carousel class="slick-slider slick-dotted" #slickModal="slick-carousel"
                            [config]="slideConfig2">
          <div ngxSlickItem>
            <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-plum-plate">
              <div class="slide-img-bg"></div>
              <div class="slider-content text-light"><h3>Crypto, quantified</h3>
                <p>
                  We aggregate market, on-chain, fundamental, social and proprietary data for various coins and tokens, and provide quantitative analysis. Our goal is to help you make better informed decisions.
                </p></div>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
    <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
      <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
        <div class="app-logo"></div>
        <h4 class="mb-0">
          <div>Type your new password below</div>
          <span></span></h4>
        <div class="divider"></div>
        <div>
          <form (ngSubmit)="changePassword()">
            <div  class="row">
              <div class="col-md-6">
                <fieldset class="form-group">
                  <div tabindex="-1" role="group"><label for="password">Password</label><input [(ngModel)]="userService.user.password" [ngModelOptions]="{standalone: true}" id="password"
                                                                                                name="password"
                                                                                                type="password"
                                                                                                class="form-control">
                  </div>
                </fieldset>
                <p class="red">{{errorMessage}}</p>
              </div>

            </div>

            <div class="divider"></div>
            <div class="d-flex align-items-center">
              <div class="ml-auto">
                <a class="mr-2" routerLink="/login">Back to login</a>
                <button type="submit" class="btn btn-primary btn-lg">Change Password</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>